*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.bandera-div{
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: column;
}
.yellow-color{
    background-color: rgb(254, 204, 13);
    height: 50%;
    width: 100%;
}
.blue-color{
    background-color: rgb(5, 128, 161);
    height: 25%;
    width: 100%;
}
.red-color{
    background-color:rgb(237, 32, 40) ;
    height: 25%;
    width: 100%;
}