*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-BannerGlobal {
    background-color: #ffae00;
    height: 20vh;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-items: center;
}

.div-logoGC{
    width: 50%;
}
.globalCompact-Logo{
    width: 50%;
    height: 10vh;
    object-fit: contain;
}
.div-textGC{
    width: 40%;
    height: 90%;
    text-align: justify;
    color: #1b3555;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width:1024px){
    .globalCompact-Logo{
        width: 100%;
    }
    .div-textGC{
        width: 60%;
    }
    .div-BannerGlobal {
        padding: .5rem;
        height: 15vh;
    }
}