* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-BannerGlobal {
    background-color: #ffae00;
    min-height: 20vh;
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-items: center;
}

.globalCompact-Logo {
    width: 50%;
}


.div-BannerGlobal p {
    color: #1b3555;
    text-align: justify;
    width: 50rem;
}

@media screen and (max-width:1024px) {
    .div-BannerGlobal p {
        font-size: 11pt;
        padding: 0.5rem;
    }

    .globalCompact-Logo img {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .div-BannerGlobal {
        flex-direction: column;
    }

    .div-BannerGlobal p {
        width: 80%;
        padding: 1rem;
    }

    .globalCompact-Logo {
        height: auto;
        width: 70%;
    }


}


@media screen and (max-width:425px) {


    .div-BannerGlobal p {
font-size: 11px;
    }




}
