*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Call To Action*/
.actionContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    padding: 1rem, 1rem, 0rem, 1rem;
    margin-left: 3rem;
    text-align: justify;
    box-sizing: border-box;

}
.actionContainer img {
    width: 75%;
    height: 70%;
    object-fit: contain;
}
.actionContainer p {
    width: 70%;
    height:auto;
    line-height: 13pt;
    color: black;
}
.action-Button{
    align-self: flex-start;
    background-image: linear-gradient(to right, #457fca 0%, #5691c8  51%, #457fca  100%);
    color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.461) 0px 30px 60px -12px, rgba(0, 0, 0, 0.404) 0px 18px 36px -18px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: .5rem 1rem;
    margin-top: 0.5rem;
    font-size: 12px;
    font-weight: 300;
    border-radius: 13pt;
    border: none;
}
.action-Button:hover{
    font-weight: bolder;
    transform: translateY();
}

/*Hero*/
.heroContainer {
    margin-top: 1.6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width:1024px) {
    .actionContainer {
        height: 100%;
        width: 35%;
        font-size: 13px;
        margin-left: 1rem;
        padding: 0.2rem;
    }
    .actionContainer p{
        line-height: 10pt;
    }
    .actionContainer img {
        width: 44%;
        /* height: 75%; */
        object-fit: contain;
        padding: .2rem;
        margin-left: 3rem;
    }
    .action-Button{
        margin-top: 0;
    }
}

@media screen and (max-width:1018px) {
.heroContainer { 
    height: 10%;
}
}