
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import '~antd/dist/antd.css';

.nav-div{
    width: 100%;
    background-color:#1b3555;
    display: flex;
    justify-content: space-between;
}

.main-top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-height: 70vh;
}
.Nav-container{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.navlink{
    text-decoration: none;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: .5rem 1rem;
    font-size: 14px;
    font-weight: 300;
    border-radius: 15pt;
    border: none;
    
}
.navlink:hover, .navlink:active{
    background-image: linear-gradient(to right, #457fca 0%, #5691c8  51%, #457fca  100%);
    color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.461) 0px 30px 60px -12px, rgba(0, 0, 0, 0.404) 0px 18px 36px -18px;
}
.UI-link{
    justify-self: end;
    background-image: linear-gradient(to right, #457fca 0%, #5691c8  51%, #457fca  100%);
    color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.461) 0px 30px 60px -12px, rgba(0, 0, 0, 0.404) 0px 18px 36px -18px;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: .5rem 1rem;
    font-size: 14px;
    font-weight: 300;
    border-radius: 15pt;
    border: none;
}

.img-hero{
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 71.9vh;
}



@media screen and (max-width:1024px){
    .img-hero{
      height: auto;
    }

    .navlink, .UI-link{
        font-size: 12px;
    }
    .main-top{

        min-height: 10vh;
    }
  }
  @media screen and (min-width:721px) {
    .menu-burger{
        display: none !important;
      }
  }

  @media screen and (max-width:720px){

    .navlink{
        display: none;
    }
  }

  @media screen and (max-width:425px){
    .Nav-container {
        display: flex;
        justify-self: flex-end;
    }
  }