*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-programas{
    background-color:#1b3555 ;
}

.div-programas h2 {
    color: aliceblue;
    text-align: center;
    padding: 0.4rem;

}
