.img-nuestra-fundacion {
    width: 100%;
}


.div-cultura {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-mision {
    width: 25rem;
    height: 30rem;
    padding: 1rem;

}

.text-mision h3 {
    padding: 2rem 0rem;
    font-weight: bold;
}

.text-mision p {
    text-align: justify;
}

.text-objetivos-especificos {
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 5px;
}

.p-resena {
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 5px;
}

@media (max-width:768px) {
    .img-nuestra-fundacion{
        display: none;
    }
    .div-logo-light-tablet{
        background-color:#1b3555;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .logo-light{
        display: block;
        width: 15rem;
    }


}