.div-SocialMedia {
  margin-top: 4rem;
  background-color: #1c1c1b;
  width: 4.5rem;
  height: 18rem;
  border-radius: 2rem 0rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.div-SocialMedia a {
  margin: 0.3rem 1.2rem;
  width: 55%;
}
.social-div {
  height: fit-content;
}

@media screen and (max-width: 1024px) {
  .div-SocialMedia {
    width: 3rem;
    height: 10rem;
    margin-bottom: 3.5rem;
  }
  .div-SocialMedia a {
    width: 45%;
    margin: 0.2rem 1rem;
  }
}

@media screen and (max-width: 600px) {
  .div-SocialMedia {
    display: none;
  }
}
