.div-SocialMedia{
    background-color: #1c1c1b;
    width: 4.5rem;
    height: 18rem;
    border-radius: 2rem 0rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.div-SocialMedia a {
    margin: 0.3rem 1.2rem;
    width: 55%;
}